{% extends "layouts/base.html.twig" %}

{% block title %}Liste des taches{% endblock %}

{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <div class="row">
    <div class="column" style="margin-top: 5%">
      <h4>Liste des tâches du projet "{{project.getName}}"</h4>
    </div>
  </div>  
  <a class="button button-primary" href="/project/{{project.getId}}/task/add">Ajouter une tâche</a>

    <table class="u-full-width">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Edit</th>
          </tr>
      </thead>
{% if tasks %}
  {% for task in tasks %}
      <tbody>
          <tr>
              <td>{{ task.getName }}</td>
              <td>{{ task.getDescription }}</td>
              <td>{{ task.getStartDate|date("d M Y") }}</td>
              <td>{{ task.getEndDate|date("d M Y") }}</td>
              <td><a href="/project/{{ project.getId }}/task/{{task.getId}}/edit" class="button button-primary">Modifier</a></td>
          </tr>
{% else %}
              <td>Le projet ne dispose d'aucune tâche</td>

      </tbody>
  {% endfor %}
{% endif %}
    </table>
    <a href="/project" class="button button-primary">Retour aux projets</a>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
