{% extends "layouts/base.html.twig" %}

{% block title %}Ajouter nu utilisateur à un projet{% endblock %}


{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 5%">
        <h4>{{ project.getName }}</h4>
        <p></p>
      </div>
    </div>
    <!-- The above form looks like this -->
    <form action="/project/{{ project.getId }}/user/save" method="POST">
        <div class="row">
            <div class="column">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>
                                <input type="checkbox" {%if projectUsers.contains(user) %} checked {% endif %} value={{ user.getId }} id="{{ user.getId }}" name="user_id[]">
                            </td>
                            <td>{{ user.getFirstName }}</td>
                            <td>{{ user.getLastName }}</td>
                            <td>{{ user.getEmail }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      <a class="button button-primary" href="/project">Cancel</a>
      <input class="button-primary" type="submit" value="Save">
    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
