<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Edit project</h4>
        <p></p>
      </div>
    </div>
    <!-- The above form looks like this -->
    <form action="/projects/save/{{ project.getId }}" method="POST">
      <div class="row">
        <div class="column">
          <label for="name">Name</label>
          <input class="u-full-width" type="text" id="name" name="name" value="{{ project.getName }}">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="description">Description</label>
          <input class="u-full-width" type="text" id="description" name="description" value="{{ project.getDescription }}">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="start_date">Start date</label>
          <input class="u-full-width" type="text" id="start_date" name="start_date" placeholder="aaaa/mm/jj" value="{{ project.getStartDate|date("d M Y") }}">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="end_date">End date</label>
          <input class="u-full-width" type="text" id="end_date" name="end_date" placeholder="aaaa/mm/jj" value="{{ project.getEndDate|date("d M Y") }}">
        </div>
      </div>
      <a class="button button-primary" href="/project">Cancel</a>
      <a class="button button-primary" href="/project/delete/{{ project.getId }}">Delete</a>
      <input class="button-primary" type="submit" value="Save">
    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>