{% extends "layouts/base.html.twig" %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 10%">
            <h4>Liste des projets</h4>
        </div>
    </div>
    <a class="button button-primary" href="/project/add">Ajouter un projet</a>
        <div class="row">
          <div class="column">
          </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Début</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
{% for project in projects %}
                        <tr>
                            <td>{{ project.getName }}</td>
                            <td>{{ project.getDescription }}</td>
                            <td>{{ project.getStartDate|date("d M Y") }}</td>
                            <td>{{ project.getEndDate|date("d M Y") }}</td>
                            <td><a href="/project/{{ project.getId }}/user" class="button button-primary">Ajouter un utilisateur</a></td>
                            <td><a href="/project/edit/{{ project.getId }}" class="button button-primary">Modifier</a></td>
                            <td><a href="/task" class="button button-primary">Ajouter une tâche</a></td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/user" class="button button-primary">Liste des utilisateurs</a>

</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}

