{% extends "layouts/base.html.twig" %}

{% block title %}Modifier un utilisateur{% endblock %}


{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Modifier un utilisateur</h4>
      </div>
    </div>
    <!-- The above form looks like this -->
    <form action="/user/saveEdit/{{userId}}" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="limit" >Prenom</label>
          <input class="u-full-width" type="text"  name="first_name" value="{{user.getFirstName}}">
        </div>
        <div class="six columns">
          <label for="offset">Nom</label>
          <input class="u-full-width" type="text"  name="last_name" value="{{user.getLastName}}">
        </div>
        <div>
          <label for="offset">Email</label>
          <input class="u-full-width" type="text"  name="email" value="{{user.getEmail}}">
        </div>
      </div>
      <input class="button-primary" type="submit" value="Enregistrer">
      <a href="/user/delete/{{ user.getId }}"  class="button button-primary">Supprimer</a>
      <a href ='/user' class="button button-primary">Annuler</a>
    </form>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}