{% extends "layouts/base.html.twig" %}

{% block title %}Projets de l'utilisateur{% endblock %}


{% block body %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Projets de {{ user.getFirstName }} {{ user.getLastName }}</h4>  
      </div>
    </div>

    <table class="u-full-width">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>

{% for project in projects %}
      <tbody>
          <tr>
              <td>{{ project.getName }}</td>
              <td>{{ project.getDescription }}</td>
              <td>{{ project.getStartDate|date("d M Y") }}</td>
              <td>{{ project.getEndDate|date("d M Y") }}</td>
              <td><a href="/project/edit/{{ project.getId }}" class="button button-primary">Modifier</a></td>
              {# <td><a href="/project/{{ project.getId }}/user" class="button button-primary">Ajouter un utilisateur</a></td>
              <td><a href="/project/edit/{{ project.getId }}" class="button button-primary">Modifier</a></td> #}
          </tr>
      </tbody>
{% endfor %}

    </table>
        
    <!-- The above form looks like this -->
      <a class="button button-primary" href="/user">Retour</a>
      {# <input class="button-primary" type="submit" value="Save"> #}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}